$color-1: #88f2ad;
$color-2: #29a253;
$color-3: #e0f287;
$color-4: #001700;
$color-5: #ffffff;
$color-6: #959595;
$color-7: #003517;
$color-8: #000a00;
$color-9: #2a8ed5;
$color-10: #135d91;
$color-11: powderblue;
