#scenes {
    .scene {
        border: 1px solid $color-4;
        background: $color-7;
        box-shadow: 0 0 20px $color-4 inset;
        &.context, &.active {
            border: 1px solid $color-4;
            box-shadow: 0 0 10px $color-1 inset;
        }
        h3 {
            color: $color-5;
        }
    }
}
