#settings {
    button {
        font-size: 1em;
    }
    h2 {
        border-top: 2px solid $color-7;
        border-bottom: 2px solid $color-7;
        background: $color-7;
        color: $color-5;
        line-height: 25px;
    }
}
#client-settings {
    nav {
        &.tabs {
            & > * {
                flex: 1;
            }
            height: 32px;
            line-height: 32px;
            border-bottom: 0;
            background: $color-5;
            color: $color-4;

            .item {
                font-size: 1em;
                &.active {
                    background: $color-2;
                }
                &:hover {
                    background: $color-3;
                }
            }
        }
    }
    section.content {
        h2.module-header {
            margin-top: 10px;
            padding: 5px 0;
            color: $color-4;
            background: $color-2;
            border-bottom: 0;
        }
    }
}
