.sheet {
    nav.sheet-tabs {
        border-top: unset;
        border-bottom: unset;
        background: $color-5;
        .item {
            color: $color-4;
            text-decoration: none;
            &.active {
                &, &:hover {
                    box-shadow: 0 0 5px $color-2 !important;
                    background: $color-2 !important;
                    color: $color-5 !important;
                }
            };
            &:hover {
                box-shadow: 0 0 5px $color-1 !important;
                background: $color-3 !important;
                color: $color-4 !important;
            }
        }
    }
}
.sheet-footer, footer {
    margin-top: 10px;
    &:not(.filepicker-footer)
    {
        button {
            margin: 0 5px;
        }
    }
}

.journal-sheet {
    .editor {
        font-family: 'Orbitron', sans-serif;
        font-size: 12px;
        &, p {
            line-height: 1.7em !important;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Orbitron', sans-serif;
            line-height: initial !important;
        }
        td {
            padding: 5px;
        }
    }
    form {
        background: none;
        border: none;
    }

    ::-webkit-scrollbar-thumb {
        outline: none !important;
        border-radius: 0 !important;
        background: $color-2 !important;
        border: 1px solid $color-2 !important;
    }
}