#controls {
    .simple-dice-roller-popup {
        &.control-tool {
            font-size: 16px !important;
        }

        &:hover {
            background-color: $color-4 !important;
            color: $color-2 !important;
            border: 2px solid $color-2 !important;
        }
    }
}

.simple-dice-roller-popup {
    li {
        border-right: 1px solid $color-7;

        &:hover {
            border: 1px solid $color-1;
            border-bottom: none;
            background-color: $color-1;
            color: $color-4;
            box-shadow: 0 0 10px $color-1;
        }
    }
    ul {
        border-bottom: 1px solid $color-7;
    }
}
