.window-app {
    border: 2px solid $color-2;
    box-shadow: 0 0 20px $color-4;
    .window-header {
        border-bottom: unset;
        border-radius: 0;
        color: $color-4;
        background: $color-2;
        .header-button:hover {
            color: $color-1;
        }
    }
    .window-content {
        margin-top: 5px;
        background: $color-4;
        color: $color-2;
    }
    .dialog-buttons {
        .dialog-button {

            &, &.default {
                border: 2px solid $color-2;
                background: $color-4;
                color: $color-2;
                &:hover {
                    cursor: pointer;
                    color: $color-4;
                    border: 2px solid $color-1;
                    background: $color-1;
                    @include glitch;
                }
            }
        }
    }
}

::-webkit-scrollbar-thumb {
    outline: none !important;
    border-radius: 0 !important;
    background: $color-2 !important;
    border: 1px solid $color-2 !important;
}

.tabs {
    .item {

    }
}